<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>87521776535-74hrdp1c0iq1akuvqie5ejvs0t4t240s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.87521776535-74hrdp1c0iq1akuvqie5ejvs0t4t240s</string>
	<key>API_KEY</key>
	<string>AIzaSyCJ6GPernSyUiBcorOZ9U3RhrJOqXX3yY4</string>
	<key>GCM_SENDER_ID</key>
	<string>87521776535</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutter.phuoc.ios</string>
	<key>PROJECT_ID</key>
	<string>chat-app-2fed4</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-2fed4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:87521776535:ios:aea6a27c16afeb2cf3aad2</string>
</dict>
</plist>